/* Added Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}



/* Shared Styles Shared Style Shared Style Shared Style */    
.display-flex{
    display: flex;
}

.max-width{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-txt-clr{
    color: orange;
}
.primary-bg-clr{
    background-color: orange;
}
.primary-btn{
    background-color:black;
    color:white;
    border-radius:12px;
    border: none;
    font-size:1.25rem ;
    font-weight:bold;
    padding: 10px 47px;
}


/* Navbar Related Styles Start Here */

.nav-menu ul>li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    margin-left: 32px;
}
.navbar{
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-menu-btn{
    align-items: center;
   
}
.nav-btn{
    background-color: orange;
    border: none;
    border-radius: 8px;
    padding: 10px 55px;
    color: white;
    font-size: 1.2rem;
    font-weight:500;
}

.logo-title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.nav-logo{
    gap: 11px;
    align-items: center;
}

/* Anchor Menu Text Color Styling */

.menu-link1, .menu-link2, .menu-link3, .menu-link4{
    font-size:1.25rem;
    font-weight: bold;
    }
.menu-link2{
    color:skyblue ;
}
.menu-link3{
    color:#05D4DF ;
}
.menu-link4{
    color:#5D58EF;
}

.hermburg-icon{
    display: none;
    height: 30px;
    width: 30px;
}

/* Navbar Related Styles End Here */

/* Banner Related Style Start Here */
.banner{
    align-items: center;
    gap: 50px;
    max-width: 1160px;
    margin: 0 auto;
}
/* Banner Title related Styling */
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}
.tv{
    color: skyblue;
}
.banner-description{
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
}
.banner-img{
    width: 100%;
}


/* Main Section Related Style Start Here */
.main{
    background-image: url("../assets/bg.png");
    max-width: 1160px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;


}
.main-card{
    gap: 29px;
    justify-content: center;
}

.main-title{
    font-size:2.8rem;
    font-weight:bold;
    color:black;
    text-align: center;
    padding-top: 80px;
}
.card-1, .card-2, .card-3{
    border-radius:19px;
    text-align: center;
    padding: 52px 40px;
    width: 368px;
}
.card-1{
    background: linear-gradient(to bottom, #DEF5FFCC,#FFFFFFFF);
    border:1px solid #DEF5FF; 

}
.card-2{
    background: linear-gradient(to bottom, #FFF4DCCC,#FFFFFFFF);
    
    border: 1px solid #FFF4DC ;

}
.card-3{
    background: linear-gradient(to bottom,#F2E8FF,#FFFFFF);
    border: 1px solid #F2E8FF ;
}
.card-title{
    font-weight: bold;
    font-size: 1.56rem;
    color: black;
}
.card-description{
    font-weight: 400;
    font-size: 1rem;
    color: #808080;
}
.card-more1{
        color:#64C8FF ;
        font-size:1rem ;
        font-weight:bold;
        
}
.card-more2{
    color:#F0AA00 ;
    font-size:1rem ;
    font-weight:bold;
    
}
.card-more3{
    color:#8700FF ;
    font-size:1rem ;
    font-weight:bold;
    
}










/* Responsive for Mobile Device */

@media screen and (max-width:576px) {
        .logo-title, .nav-menu-btn, .nav-menu, .nav-btn{
            display: none;
        }
        /* .hermburg-icon{
           visibility: visible;
        } */
        .navbar{
            border-bottom: 2px solid orange;
            margin: 0;
            padding: 15px;
        }

    .banner{
        flex-direction: column-reverse;
        margin:8px 16px 40px 16px;
    }
    .banner-img img{
        width: 100%;
        align-items: center;
    }
    .banner-text{
        text-align: center;
    }
.main{
   
    width: 100%;
}
    .main-card{
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
/
    }
    .main-title{
        font-size: 1.6rem;
        font-weight: bold;
    }
    .card-1, .card-2, .card-3{
        max-width: 300px;
        margin: 0 auto;
     
    }
    
}
